@font-face {
  font-family: Bebas;
  src: url("fonts/BebasNeue-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #ece7e1;
}

/* header stylings */

.header {
  height : 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  z-index: 100;
  color: white;
  font-family: Bebas;
  padding-left: 20px;
  padding-right: 20px;
}

.name {
  font-size: 40px;
}

.links {
  font-size: 18px;
}

.links > button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.links > button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* main */

main {
  margin-top: 90px;
}
