@font-face {
  font-family: Bebas;
  src: url("fonts/BebasNeue-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #a7afb7;
  display: flex;
  justify-content: center;
}

/* header stylings */

.header {
  height : 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  z-index: 100;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Bebas;
}

.name {
  font-size: 40px;
}

.links {
  font-size: 18px;
  display: flex;
  gap: 20px;
}

.links > button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.links > button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

hr {
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 80px;
}

/* main */

main {
  margin-top: 75px;
  height: 100vh;
  width: 85vw;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

/* intro area */

.intro-container {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.intro-text {
  width: 50%;
}

.intro-text > h1 {
  text-decoration: underline;
}

.intro-profile-pic > img {
  width: 250px;
  height: auto;
  border-radius: 125px;
  border: 3px solid;
}

/* Skills */

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.skills-container > h1 {
  text-decoration: underline;
}

.skill-icons {
  display: flex;
  gap: 40px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.skill-icons > img {
  height: 100px;
  width: auto;
}

/* Projects */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container > h1 {
  text-decoration: underline;
}

/* Contact Me */

.contact-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-container > h1 {
  text-decoration: underline;
}

/* footer */
